{% if app.debug %}
    <!-- debug -->
    <p class="open-debug" title="debug"><span class="glyphicon glyphicon-plus-sign"></span></p>
    <div class="dump hidden">{{ dump(data) }}</div>
    <!-- //debug -->
{% endif %}