{% extends 'B2BBlogBundle:template:base.html.twig' %}
{% block title %}
    {{ parent() }}
    {% include 'B2BBlogBundle:partials:title.html.twig' %}
{% endblock %}
{% block externaljs %}
    <script src="{{ asset('bundles/b2bblog/js/debug-dump.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <!-- debug -->
    <p class="open-debug" title="debug"><span class="glyphicon glyphicon-plus-sign"></span></p>
    <div class="dump hidden">
        {{ dump(data.articles) }}
    </div>
    <!-- //debug -->
{% endblock %}