body {
  font-family: 'Roboto Condensed', sans-serif;
}
header.header {
  height: 72px;
  line-height: 72px;
  background-color: #364d5f;
  box-shadow: #ccc 0 2px 1px;
  margin-bottom: 32px;
  .header-logo {
    width: 225px;
  }
}
.left-col {
  position: relative;
}
.left-block {
  position: relative;
}
.content {
  padding-left: 0;
}
.middle-header {
  font-size: 24px;
}
.blue-text {
  color: #44a6e4;
}
.square-block{
  margin-bottom: 16px;
  .content {
    padding: 16px 0;
    overflow: hidden;
    color: #757575;
    font-size: 14px;
  }
  .inner {
    background: white;
    border-radius: 5px;
    box-shadow: #ccc 0 0 3px;
    padding: 16px;
    font-size: 14px;
    height: 100%;
    overflow: hidden;
    h4 {
      color: #424242;
      font-size: 16px;
      margin: 16px 0 16px;
    }
    li {
      color: #757575;
      font-size: inherit;
    }
  }
}
aside {
  li a, li a:hover, li a:active, li a:focus {
    color: #757575;
  }
  li a.active {
    text-decoration: underline;
  }
}
.post-block {
  height: 352px;
  .inner {
    position: relative;
  }
  footer {
    position: absolute;
    bottom: 0;
    padding-right: 32px;
    width: 100%;
    font-size: 12px;
    color: #757575;
  }
}
.post-title {
  font-size: 16px;
  max-height: 35px;
  overflow: hidden;
  margin-top: 16px;
  a {
    color: #44a6e4;
  }
}
#most-popular {
  li {
    min-height: 65px;
    padding-bottom: 5px;
    overflow: hidden;
    clear: both;
    a {
      display: block;
      margin-right: 70px;
    }
  }
  .img-placeholder {
    width: 65px;
    height: 65px;
    overflow: hidden;
    a {
      display: block;
      height: 100%;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
.search-form {
  width: 100%;
  display: block;
  input, button {
    height: 46px;
    line-height: 46px;
    border: #e0e0e0 solid 1px;
  }
  input[type=text] {
    padding: 0 67px 0 10px;
    border-radius: 5px;
    width: 100%;
  }
  button {
    margin-left: -46px;
    padding: 0;
    width: 46px;
    background: transparent;
    border: none;
    font-size: 17px;
    color: #757575;
    height: 46px;
    position: relative;
    top: 4px;
  }
}

.singe-page {
  header {
    h1 {
      margin: 0;
    }
  }
  .post-image {
    max-width: 50%;
  }
  footer {
    padding-top: 16px;
    font-size: 16px;
    p{
      margin: 0;
    }
    a {
      color: #424242;
    }
  }
}

.company-profile {
  .content {
    margin-left: 336px;
    padding: 0 0 16px 0;
  }
  .company-name {
    h1,h2,h3,h4,h5,h6 {
      margin-top: 0;
    }
  }
  .image-placeholder {
    border: solid 1px #e0e0e0;
    border-radius: 4px;
    height: 318px;
    width: 318px;
    text-align: center;
    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      max-width: 100%;
      max-height: 100%;
    }
  }
  .profile-buttons {
    padding-top: 16px;
    a {
      display: inline-block; margin-right: 16px
    }
  }
}

.company-articles {
  .article-description {
    color: #424242;
  }
  .img-placeholder {
    display: block;
    height: 110px;
    width: 110px;
    border: solid 1px #e0e0e0;
    margin-right: 16px;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .article-item {
    padding-bottom: 5px;
    overflow: hidden;
    margin-bottom: 16px;
    .count {
      color: #757575
    }
  }
}

.btn-default.btn-blue-solid {
  border-color: #44a6e4;
  color: #fff;
  background-color: #44a6e4;
  &:hover {
    background-color: #44a6e4;
  }
}

.btn-default.blue {
  border-color: #44a6e4;
  color: #44a6e4;
  &:hover, &:focus, &:active {
    background-color: white;
  }
}

.btn-default.green {
  border-color: #15c25a;
  color: #15c25a;
  &:hover, &:focus, &:active {
    background-color: white;
  }
}

.post-image {
  height: 132px;
  display: block;
  overflow: hidden;
  img {width: 100%}
}

.footer {
  background: #424242;
  height: 50px;
  line-height: 50px;
  margin-top: 32px;
  p {
    color: #44a6e4;
  }
}

@media (min-width: 1040px) {
  .container {
    width: 1040px;
  }
}
