/* glue: 0.9.4 hash: f4a4bf9460 */
.sprite-icon-logout,
.sprite-icon-vat,
.sprite-icon-users,
.sprite-icon-users-login,
.sprite-icon-test,
.sprite-icon-system,
.sprite-icon-ministry,
.sprite-icon-logs,
.sprite-icon-jobs-types,
.sprite-icon-items-groups,
.sprite-icon-id-card,
.sprite-icon-house,
.sprite-icon-groups,
.sprite-icon-employees,
.sprite-icon-dictionary,
.sprite-icon-departments,
.sprite-icon-db,
.sprite-icon-customers,
.sprite-icon-countries,
.sprite-icon-companies,
.sprite-icon-companies-logging,
.sprite-icon-citizenship,
.sprite-icon-cities,
.sprite-icon-balance-groups,
.sprite-icon-balance-accounts,
.sprite-icon-accounts,
.sprite-icon-account,
.sprite-icon-account-type,
.sprite-icon-menu,
.sprite-icon-arrow-right,
.sprite-icon-arrow-left,
.sprite-icon-time,
.sprite-icon-calendar,
.sprite-icon-desc,
.sprite-icon-asc {
  background-image: url("icon.png");
  background-repeat: no-repeat; }

.sprite-icon-logout {
  background-position: 0 0;
  width: 35px;
  height: 39px; }

.sprite-icon-vat {
  background-position: -35px 0;
  width: 32px;
  height: 32px; }

.sprite-icon-users {
  background-position: -67px 0;
  width: 32px;
  height: 32px; }

.sprite-icon-users-login {
  background-position: 0 -39px;
  width: 32px;
  height: 32px; }

.sprite-icon-test {
  background-position: -32px -39px;
  width: 32px;
  height: 32px; }

.sprite-icon-system {
  background-position: -64px -39px;
  width: 32px;
  height: 32px; }

.sprite-icon-ministry {
  background-position: -99px 0;
  width: 32px;
  height: 32px; }

.sprite-icon-logs {
  background-position: -99px -32px;
  width: 32px;
  height: 32px; }

.sprite-icon-jobs-types {
  background-position: 0 -71px;
  width: 32px;
  height: 32px; }

.sprite-icon-items-groups {
  background-position: -32px -71px;
  width: 32px;
  height: 32px; }

.sprite-icon-id-card {
  background-position: -64px -71px;
  width: 32px;
  height: 32px; }

.sprite-icon-house {
  background-position: -96px -71px;
  width: 32px;
  height: 32px; }

.sprite-icon-groups {
  background-position: -131px 0;
  width: 32px;
  height: 32px; }

.sprite-icon-employees {
  background-position: -131px -32px;
  width: 32px;
  height: 32px; }

.sprite-icon-dictionary {
  background-position: -131px -64px;
  width: 32px;
  height: 32px; }

.sprite-icon-departments {
  background-position: 0 -103px;
  width: 32px;
  height: 32px; }

.sprite-icon-db {
  background-position: -32px -103px;
  width: 32px;
  height: 32px; }

.sprite-icon-customers {
  background-position: -64px -103px;
  width: 32px;
  height: 32px; }

.sprite-icon-countries {
  background-position: -96px -103px;
  width: 32px;
  height: 32px; }

.sprite-icon-companies {
  background-position: -128px -103px;
  width: 32px;
  height: 32px; }

.sprite-icon-companies-logging {
  background-position: -163px 0;
  width: 32px;
  height: 32px; }

.sprite-icon-citizenship {
  background-position: -163px -32px;
  width: 32px;
  height: 32px; }

.sprite-icon-cities {
  background-position: -163px -64px;
  width: 32px;
  height: 32px; }

.sprite-icon-balance-groups {
  background-position: -163px -96px;
  width: 32px;
  height: 32px; }

.sprite-icon-balance-accounts {
  background-position: 0 -135px;
  width: 32px;
  height: 32px; }

.sprite-icon-accounts {
  background-position: -32px -135px;
  width: 32px;
  height: 32px; }

.sprite-icon-account {
  background-position: -64px -135px;
  width: 32px;
  height: 32px; }

.sprite-icon-account-type {
  background-position: -96px -135px;
  width: 32px;
  height: 32px; }

.sprite-icon-menu {
  background-position: -128px -135px;
  width: 30px;
  height: 26px; }

.sprite-icon-arrow-right {
  background-position: 0 -167px;
  width: 16px;
  height: 28px; }

.sprite-icon-arrow-left {
  background-position: -16px -167px;
  width: 16px;
  height: 28px; }

.sprite-icon-time {
  background-position: -158px -135px;
  width: 16px;
  height: 16px; }

.sprite-icon-calendar {
  background-position: -174px -135px;
  width: 16px;
  height: 16px; }

.sprite-icon-desc {
  background-position: -163px -128px;
  width: 6px;
  height: 4px; }

.sprite-icon-asc {
  background-position: -169px -128px;
  width: 6px;
  height: 4px; }

@media screen and (-webkit-min-device-pixel-ratio: 1), screen and (min--moz-device-pixel-ratio: 1), screen and (-o-min-device-pixel-ratio: 100 / 100), screen and (min-device-pixel-ratio: 1), screen and (min-resolution: 1dppx) {
  .sprite-icon-logout,
  .sprite-icon-vat,
  .sprite-icon-users,
  .sprite-icon-users-login,
  .sprite-icon-test,
  .sprite-icon-system,
  .sprite-icon-ministry,
  .sprite-icon-logs,
  .sprite-icon-jobs-types,
  .sprite-icon-items-groups,
  .sprite-icon-id-card,
  .sprite-icon-house,
  .sprite-icon-groups,
  .sprite-icon-employees,
  .sprite-icon-dictionary,
  .sprite-icon-departments,
  .sprite-icon-db,
  .sprite-icon-customers,
  .sprite-icon-countries,
  .sprite-icon-companies,
  .sprite-icon-companies-logging,
  .sprite-icon-citizenship,
  .sprite-icon-cities,
  .sprite-icon-balance-groups,
  .sprite-icon-balance-accounts,
  .sprite-icon-accounts,
  .sprite-icon-account,
  .sprite-icon-account-type,
  .sprite-icon-menu,
  .sprite-icon-arrow-right,
  .sprite-icon-arrow-left,
  .sprite-icon-time,
  .sprite-icon-calendar,
  .sprite-icon-desc,
  .sprite-icon-asc {
    background-image: url("icon.png");
    -webkit-background-size: 195px 195px;
    -moz-background-size: 195px 195px;
    background-size: 195px 195px; } }

/*# sourceMappingURL=icon.css.map */
