{% extends 'B2BBlogBundle:template:base.html.twig' %}
{% block content %}
    <h1 class="text-muted">Articles:</h1>
    <hr>
    <dl>
    {% for article in data %}
        <dt><img src="{{ article.img }}"></dt>
        <dd>
            <h3>{{ article.title }}</h3>
            <div>{{ article.text }}</div>
        </dd>
    {% endfor %}
    </dl>
{% endblock %}
